.body {
  background-color: #e2e8f0;
  font-family: 'Cairo', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.chimist {
  background-color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
