.body {
  background-color: #e2e8f0;
  font-family: 'Cairo', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.containe {
  margin: 20px auto;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px;
  position: relative;
  background-color: white;
  width: 95%;
}
/* .container::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  right: 130px;
  top: 0px;
  background-color: black;
} */
.visit-row {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  padding: 2px;

  border-bottom: 1px solid black;
}
h6 {
  width: 150px;
  margin: 0px !important;
  font-weight: bold !important;
  padding-right: 10px;
}
.buuton {
  text-align: center;
}
h5 {
  margin: 0px 10px;
}
p {
  text-align: start;
  margin: 10px;
  font-size: large;
}
.logo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.logo-cont {
  position: relative;
  background-color: white;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  padding: 10px;
}
h3 {
  text-align: center;
}
.d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media print {
  .buuton {
    display: none;
  }
  .container {
    margin: 50px auto !important;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    max-width: 1800 !important;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin: 0px auto; */
  }
  @page {
    size: auto;
    margin: 0;
  }
}
