.body {
  background-color: #e2e8f0;
  font-family: 'Cairo', sans-serif;
  font-family: 'Tajawal', sans-serif;
}
.header {
  text-align: center;
}
.hed {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
h4 {
  font-size: 20px !important;
}
.logo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.logo-cont {
  position: relative;
}
.d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hide {
  display: none;
}
.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: fit-content !important;
}
.no-v {
  text-align: center;
  color: blue;
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}
.edit {
  text-decoration: none;
  color: black;
}
.edit:hover {
  color: black;
}
article {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  padding: 0px !important;
}
.v-heading {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.card {
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}
.card-body {
  display: grid !important;
  grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 1fr !important;
  gap: 7px !important;
  padding: 7px 12px 7px 0px !important;
  position: relative;
  font-size: large;
}
.card:hover {
  background-color: #f0f6fd;
  padding-left: 0px;
}
.card-title {
  margin-bottom: 0px !important;
  font-size: 20px !important;
}

.count {
  position: absolute;
  top: 0;
  right: -10px;
}
.del {
  position: absolute;
  top: 0;
  left: -20px;
  background-color: red;
  border: none;
  padding: 5px;
  border-radius: 50%;
}
.new {
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: yellow;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.red {
  background-color: red !important;
}
.yellow {
  background-color: yellow !important;
}
.pending {
  background-color: aquamarine !important;
}

@media print {
  .header {
    display: none !important;
  }
  nav {
    display: none !important;
  }

  .container {
    width: 100% !important;
  }
  .card-body {
    display: grid !important;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 1fr !important;
    gap: 7px !important;
    padding: 10px 15px 10px 0px !important;
    position: relative;
    font-size: large;
  }
  .card-title {
    margin-bottom: 0px !important;
    font-size: medium !important;
  }
  @page {
    size: auto;
    margin: 0;
  }
}
#test {
  min-height: 150px;
  font-size: 18px;
}
